div {
	width: ;
	height: 20px;
}
div ul {
	display: block;
	list-style-type: none;
}
div li {
	display: inline-block;
	height: 30px;
	border-radius: 5px;
	background-color: green;
	color: white;
	padding: 100%, 100%, 100%, 100%;
}