* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
}

.page-container {
  min-width: 1000px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}
.logo {
  width: 268px;
  height: 58px;
  background: url("img/logo.png");
}