div {
	width: 100%;
	display: table;
	border-radius: 2px;
	text-align: justify;
}
div ul {
	display: table-row;
	list-style-type: none;
}
div li {
	display: table-cell;
	float: none;
}
div li a {
	display: block;
    padding: 8px 15px;
    background: #8224d3;
    font-family: Century;
    font-size: 12px;
    color: white;
    text-decoration: none;
    text-align: center;
}
div li a:hover{
	background: #528CBF;
}